* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
   
 }
 
.nav {
    max-width: 1200px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.search-menu {
    width: 6%;
    height: auto;
}

.top {
    display: flex;
    position: relative;
    padding: 20px;
    background-color: #f4d5ff;
}

.image1 {
    width: 100%;
    height: auto;
}

.image1-text {
    position: absolute;
    left: 2rem;
    right: 2rem;
    align-self: flex-end;
    color: gold;
    font-size: 1.2rem;
    
}

.stock {
    background-color: grey;
    font-size: 1rem;
    padding: 3px;
    
}

button {
    border: none;
   
}

a {
    text-decoration: none;
    color: gold;
}

.name-date {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1rem;
}

.blogs {
    display: flex;
    flex-direction: row;
    
    
    flex-wrap: wrap;
    flex-basis: 65%;
}

.health {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    /*box-shadow: 0rem 0rem 0.3rem 0rem #aaf4ff;*/
    margin: 2%; 
    box-shadow: 0px 0px 5px 0px;
    flex-basis: 46%;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 25px;
}

.resp-text {
    position: relative;
}

.responsive {
    width: 100%;
    height: auto;
}

.blog-text {
    position: absolute;
    left: 1rem;
    color: darkviolet;
    padding-top: 10px;
    font-size: 1.3rem;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 20px;
}

.resp1 {
    width: 4vw;
    height: auto;
}


.blog-announcement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f4d5ff;
}

.latest {
    display: flex;
    flex-direction: column;
    flex-basis: 29%;
    background-color: whitesmoke;
    padding-left: 10px;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 20px;
}

@media(max-width: 600px){
    .blogs {
        flex-basis: 100%;
    }
}

@media(max-width: 600px){
    .latest {
        flex-basis: 100%;
        margin-top: 10px;
    }
}

@media(max-width: 400px){
    .health {
        flex-basis: 100%;
    }
}

.list {
    padding-bottom: 15px;
    padding-top: 10px;
}

.latest-text {
    padding-top: 25px;
}
