* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
   
 }
 
.nav {
    max-width: 1200px;
}
/*
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.search-menu {
    width: 6%;
    height: auto;
}*/

.top {
    display: flex;
    position: relative;
    padding: 20px;
    background-color: #f4d5ff;
}

.image1 {
    width: 100%;
    height: auto;
}

.image1-text {
    position: absolute;
    left: 2rem;
    right: 2rem;
    align-self: flex-end;
    color: gold;
    font-size: 1.2rem;
    
}

.stock {
    background-color: grey;
    font-size: 1rem;
    padding: 3px;
    color: gold;
}

button {
    border: none;
   
}

a {
    text-decoration: none;   
    transition: background 0.3s ease-in-out;
}

a:focus {
    background-color: skyblue;
}

.name-date {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1rem;
}

.blogs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 65%;
}

.health {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    margin: 2%; 
    box-shadow: 0px 0px 5px 0px;
    flex-basis: 46%;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 25px;
}

.resp-text {
    position: relative;
}

.responsive {
    width: 100%;
    height: auto;
}

blog-text {
    position: absolute;
    left: 1rem;
    color: darkviolet;
    padding-top: 10px;
    font-size: 1.3rem;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 20px;
}

.resp1 {
    width: 4vw;
    height: auto;
}


.midfooter { display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-bottom: 1rem;
    margin-top: 10rem;

}

.notes {display: flex;
gap: 1rem;
flex-direction: column;
font-weight: bold;
padding-bottom: 2rem;
padding-left: 2rem;
padding-right: 2rem;
color: gold;}

.imgwidth {
    width: 100%;
    height: auto;
    gap: 2rem;
    padding-bottom: 1rem;
}
.connectnow {

    justify-content: center;
    background-color: gray;
    color: gold;
    padding: 10px;
    border-radius: 10px;
align-self: center;
    margin-top: 1rem;
    
    
    
    


        
    
}

.blog-announcement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f4d5ff;
}

.latest-announcement {
    display: flex;
    flex-direction: column;
    flex-basis: 31%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.latest {
    background-color: whitesmoke;
    padding: 15px;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 20px;
    margin-bottom: 15px;
}

@media(max-width: 600px){
    .blogs {
        flex-basis: 100%;
    }
    
    .latest-announcement {
        flex-basis: 100%;
    }
    
    .health {
        flex-basis: 100%;
    }
}



.latest-text {
    padding-top: 25px;
}


.list {
    padding-top: 25px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;   
}

.each-navigation {
    box-shadow: 0px 0px 2px 0px #ffd5f4;
    padding: 10px;
    border: solid 1px #ffd5f4; 
}

.nav-link {
    color: green;
}
